body {
    background-image: url(../assets/bgtexture.jpg);
}

.adjustNav {
    display: flex;
    justify-content: flex-end;
}
h1{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}
.hero-image{
    float: right;
}