/* font-family: 'Fugaz One', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 100%;
  height: auto;
}

body{
    padding: 0;
    color: #5F002B;
}
@font-face {
    font-family: Montauk;
    src: url(../assets/Fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: MontaukB;
    src: url(../assets/Fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: MontaukI;
    src: url(../assets/Fonts/Montauk-Italic.otf);
}

@font-face {
    font-family: MontaukL;
    src: url(../assets/Fonts/Montauk-Light.otf);
}

body {
    background-image: url(../assets/bgtexture.jpg);
}

.ALLSEEINGBORDERRADIUSREMOVER {
    border-radius: 0;
}

.adjustNav {
    display: flex;
    justify-content: flex-end;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.adjustNav a {
    font-size: 20px;
    color: #5F002B;
    font-family: 'Fugaz One', sans-serif !important;
}

.navSpacing {
    margin-left: 40px;
}

.mainHero {
    width: 100%;

}

.hero-image {
    margin-top: 44px;
    width: 100%;
    height: auto;
    background-image: url(../assets/homeHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.hero-image-cater{
    margin-top: 44px;
    
    background-image: url(../assets/cateringHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
    height: 500px;
}

.space-options {
    margin-right: 50px;
}

.buttons-dwn {
    margin-top: 24px;
}

.introSect {
    margin-top: 100px;
   
}

.mainimg {
    height: 100%;
    width: 45rem;
    padding-left: 0px;
    object-fit: cover;
}

.mainImgResize{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.muzzlesIntro {
    background-color: white;     
}

.introContainer {
    margin-top: 30px;
    margin-right: 0px;
    color: rgba(95, 0, 43, 1);
    max-width: 950px;
}

.introContainer h1 {
    font-size: 50px;
    font-family: 'Fugaz One', sans-serif;
}

.introContainer p {
    font-size: 20px;
    font-family: MontaukL;
    line-height: 18px;
    word-spacing: 3px;
   margin-bottom: 70px;
}

.introTxt {
    margin-left: 40px;
    margin-right: 55px;
}

.yummySando {
    height: 449.5px;
    width: 674px !important;
}


.photoTxt{
    font-family:'Fugaz One';
    font-size: 29px;
}

.photoP{
    font-size: calc(10px + 0.390625vw);
    padding: 0;
}

p{
    font-size: calc(10px + 0.390625vw);
}

.aboutP{
    font-size: calc(9px + 0.390625vw);
}

.aboutTxt{
    font-size: 13px;
    font-family: MontaukL;
    
}

.footerFont {
    font-family: MontaukL;
}

.aboutImg


.responsive{
    max-width: 100%;
    height: auto;
}


 /* Start About Page */
.paddingSides {
    padding-left: 100px;
    padding-right: 100px;
}

 .alignBackstory {
    
    color: rgba(95, 0, 43, 1);
    height: 675px;
}


.text-box {
  background-color: #f7f7f7;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
  padding-bottom: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.text-box h2 {
    font-size: 50px;
}

.text-box p {
    font-family: MontaukL;
    word-spacing: 1px;
    line-height: 20px;
}

.cardspacing{
    margin-bottom: 1.5%;
}

.cardspacing{
    margin-bottom: 1.5%;
}

.bgColor {
    background-color: white;
}

.margin-top {
    margin-top: 62px;
}

.card-margin-bottom {
    margin-bottom: 20px;
}

.centerThings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1changes{
    background-color: white;
padding-left: 0px;
padding-right: 0px;
padding-top: 20px;
height: 80px;
}
.hero-image-right{
    float: right;
}

@media (max-width: 1920px) {

    #logo {
      width: 550px;
    }
  }
  
  @media (min-width: 440px) {
  
    #logo {
      width: calc(7.625rem + ((1vw - 3.2px) * 13));
      min-height: 0vw;
    }
    
}
/* There is nothing wrong with this area, im totally not really confused on what merge hellscape I caused here */

/* When Screen is Mobile */
@media screen and (max-width: 440px) {

    #logo {
        width: 150px;
    }

    [class*="col-"] {
        width: 100%;
        padding: 18px;
    }

    .photoP{
        font-size: 9px;
    }
    .quirky-text{
        font-size: 10px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* When Screen is Laptops through tablet */
@media (min-width: 440px) and (max-width: 1400px) {
    #box{
        width:100%;
        padding-bottom:18px;
    }

    #img{
        display: flex;
        justify-content: center;
        width:100%;
        padding-bottom: 40px;
    }
}

/* when Screen is bigger than a Laptop L */
@media (min-width: 2560px) {
    #box{
        width:100%;
        padding-bottom: 40px;
    }

    #img{
        display: flex;
        justify-content: center;
        width:100%;
        padding-bottom:18px;
    }
  
    [class*="col-"] {
      width: 100%;
      
    }
  
    .photoP{
      font-size: 9px;
    }
  
  }


  /* About Responsivness */
@media screen and (max-width: 1365px) {
    .text-box p{
        font-size: 13px;
    }
}

@media screen and (max-width: 991px) {
    .no-pads {
        padding-left: 0;
        padding-right: 1px;
    }
}
/* Catering Page */

.text-guy {
    font-family: Montauk;
}

.hero-image-cater-sm {
    margin-top: 44px;
    
    background-image: url(../assets/cateringHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    min-height: 200px;
    max-height: 300px;
    
}